body {
  font-family: sans-serif;
}

h1 {
  font-family: fantasy;
}

#container {
  margin: 5rem;
}

#button-clicker {
  background-color: aquamarine;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catchphrase {
  font-size: 1.5rem;
  margin: 3rem 0;
  text-align: center;
}
