body {
  font-family: sans-serif;
}

h1 {
  font-family: fantasy;
}

#container {
  margin: 5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catchphrase {
  font-size: 1.5rem;
  margin: 3rem 0;
  text-align: center;
}
